<div class="container" class="posts">
  <h3>投稿一覧</h3>
<div class="post">
  <% @blogs.each do |blog| %>
  <div class="title">
    <div class="bloger">
      <img src="<%= blog.user.image %>" class = "icon_image_blog">
      <%= link_to(blog.user.name,"/users/#{blog.user.id}") %>
    </div>
  </div>

  <% if blog.image? %>
  <div class="image">
    <img src=<%= blog.image %> class = "blog_image">
  </div>
  <% end %>
  <div class="content">
    <p><%= blog.content %><br></p>
  </div>
  <h3><%= fa_icon("thumbs-o-up") %><%= blog.liked_users.count %></h3><br>
  <%= link_to '詳細', blog_path(blog), class: "btn btn-success w-100px" %>
  <% end %>
 </div>
 <%= paginate @blogs %>
</div>
