<div class="container">


<div>
  <strong>タイトル:</strong><br>
  <%= @blog.title %>
  <p>
    <% if @blog.image? %>
    <%= image_tag @blog.image.url%>
    <% end %>
  </p>
<p>
  <strong>投稿内容</strong><br>
  <%= @blog.content %>
</p>

<p>いいね: <%= @blog.likes.count %></p>
<% if current_user.already_liked?(@blog) %>
  <%= button_to 'いいね取消', blog_like_path(@blog),remote: true, method: :delete, class: "btn btn-danger w-100px"%>
<% else %>
  <%= button_to 'いいね', blog_likes_path(@blog),remote: true, class: "btn btn-danger w-100px"%>
<% end %>

<%= link_to(@user.name,"/users/#{@user.id}") %><br />
<img src=<%= @user.image %> class = "icon_image"><br>


<h4>コメント一覧</h4>
<% if @blog.comments.any? %>
<ul>
  <% @blog.comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</ul>
<% end %>

<%= form_for([@blog, @blog.comments.build]) do |f| %>
  <p><%= f.text_field :body%></p>
  <%= f.submit %>
<% end %>

aaaa <br>

<%= link_to '投稿一覧に戻る', blogs_path %>
</div>
