<div class="blog-detail">
 <div class="blog_show">
   <img src=<%= @user.image %> class = "icon_image">
   <%= link_to(@user.name,"/users/#{@user.id}") %><br />
    <% if @blog.image? %>
    <div class="image">
      <%= image_tag @blog.image.url, :size =>'250x200'%>
    </div><br>
    <% end %>
    <div class="content">
      <p><%= @blog.content %></p><br>
    </div>
  <h3><%= fa_icon("thumbs-o-up") %><%= @blog.likes.count %></h3>
  <% if current_user.already_liked?(@blog) %>
    <%= button_to 'いいねを取り消す', blog_like_path(@blog), method: :delete, class: 'btn btn-warning' %>
  <% else %>
    <%= button_to 'いいね', blog_likes_path(@blog),class: 'btn btn-success' %>
  <% end %>
  <div class="back_to_blog_index">
    <%= link_to '投稿一覧に戻る', blogs_path %><br>
  </div>
  <% if @blog.uid == current_user.id %>
    <%= link_to '編集', edit_blog_path(@blog), class: "btn btn-warning w-100px" %>
    <%= link_to '削除', @blog, class: "btn btn-danger w-100px", method: :delete, data: { confirm: '本当に削除して良いですか？' } %>
  <% end %>
<div class="comment">
  <h4>コメント一覧</h4>
  <% if @blog.comments.any? %>
    <% @blog.comments.each do |comment| %>
      <p><%= comment.body %></p>
    <% end %>
  <% end %>
  <%= form_for([@blog, @blog.comments.build]) do |f| %>
    <%= f.text_field :body%>
    <%= f.submit %>
  <% end %>
  <br>
 </div>
</div>
