<div class="container">
 <div class="blog_show">
  <strong>タイトル:</strong><br>
  <%= @blog.title %>
    <% if @blog.image? %>
    <%= image_tag @blog.image.url%><br>
    <% end %>
    <strong>投稿内容</strong><br>
    <%= @blog.content %><br>
  投稿者:<%= link_to(@user.name,"/users/#{@user.id}") %><br />
  <img src=<%= @user.image %> class = "icon_image"><br>

  <h3>いいね<%= @blog.likes.count %></h3>
  <% if current_user.already_liked?(@blog) %>
    <%= button_to 'いいねを取り消す', blog_like_path(@blog), method: :delete %>
  <% else %>
    <%= button_to 'いいね', blog_likes_path(@blog) %>
  <% end %>

  <h4>コメント一覧</h4>
  <% if @blog.comments.any? %>
  <ul>
    <% @blog.comments.each do |comment| %>
      <li><%= comment.body %></li>
    <% end %>
  </ul>
  <% end %>
  <%= form_for([@blog, @blog.comments.build]) do |f| %>
    <%= f.text_field :body%><br>
    <%= f.submit %>
  <% end %>
  <br>
</div>
<%= link_to '投稿一覧に戻る', blogs_path %>
</div>
