<div class="user-show">
  <div class="user_data">
    <h3><%= @user.name %>さんのページ</h3>
    <div class="name">
      名前:<%= @user.name %><br />
    </div>
    <div class="average_score">
      平均スコア:<%= @user.average_score %><br>
    </div>
    <div class="self_introduction">
      <%= @user.self_introduction %>
    </div>
    <% if @user.id == current_user.id %>
      <%= link_to '編集', edit_user_registration_path, class: "btn btn-success w-100px" %>
    <% end %><br>

    <img src=<%= @user.image %> class = "icon_image"><br>

    <%= @user.follow_count %>
    <%= link_to "フォロー", {controller: :users,action: :follow_list,user_id: @user.id}, method: :get %>
    <%= @user.followers_count %>
    <%= link_to "フォロワー", {controller: :users,action: :follower_list,user_id: @user.id}, method: :get %>
    <% if current_user.id != @user.id %>
      <%= render 'follow_form' %>
    <% end %>

<% if @user.id == current_user.id %>
  <% else %>
  <% if @isRoom == true %>
    <p class="btn btn-info"><a href="/rooms/<%= @roomId %>">DMする</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "DMを送る" ,class: "btn btn-info w-100px" %>
    <% end %>
  <% end %>
<% end %>

<% if @user.id == current_user.id %>
<p class="add_score"><%= link_to "スコアを記録する", new_score_management_path %></p>
<div class="score_management">
  <p><%= @user.name %>さんのゴルフスコア</p>
     <table>
       <thead>
         <tr>
           <th>プレー日</th>
           <th>コース名</th>
           <th>スコア</th>
         </tr>
       </thead>
       <tbody>
         <% @user.score_managements.each do |score_management| %>
         <tr>
           <td><%= score_management.when %></td>
           <td><%= score_management.course %></td>
           <td><%= score_management.stroke %></td>
         </tr>
         <% end %>
       </tbody>
     </table>
</div>
<% end %>



 <h3><%= @user.name %>さんの投稿一覧</h3>
  <% @user.blogs.each do |blog| %>
  <div class="title">
  </div>
  <div class="image">
    <img src=<%= blog.image %> class="blog_image">
  </div>
  <div class="content">
    <p><%= blog.content %><br></p>
  </div>
  <%= link_to '詳細', blog_path(blog), class: "btn btn-success w-100px" %>
  <% end %>
</div>
