<div class="container">
  <div class="user_data">
    <h1><%= @user.name %>さんのページ</h1>
    <div class="name">
      名前:<%= @user.name %><br />
    </div>
    <div class="average_score">
      平均スコア:<%= @user.average_score %><br>
    </div>
    <div class="self_introduction">
      <%= @user.self_introduction %>
    </div>
    <% if @user.id == current_user.id %>
      <%= link_to '編集', edit_user_registration_path, class: "btn btn-success w-100px" %>
    <% end %><br>

    <img src=<%= @user.image %> class = "icon_image"><br>

<% if @user.id == current_user.id %>
  <% else %>
  <% if @isRoom == true %>
    <p class="btn btn-info"><a href="/rooms/<%= @roomId %>">DMする</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "DMを送る" ,class: "btn btn-info w-100px" %>
    <% end %>
  <% end %>
<% end %>
  </div>
 <h3><%= @user.name %>さんの投稿一覧</h3>
  <% @user.blogs.each do |blog| %>
  <div class="title">
    <h2><%= blog.title %></h2>
  </div>
  <div class="image">
    <img src=<%= blog.image %>>
  </div>
  <div class="content">
    <p><%= blog.content %><br></p>
  </div>
  <%= link_to '詳細', blog_path(blog), class: "btn btn-danger w-100px" %>
    <% if blog.uid == current_user.id %>
      <%= link_to '編集', edit_blog_path(blog), class: "btn btn-info w-100px" %>
      <%= link_to '削除', blog, class: "btn btn-info w-100px", method: :delete, data: { confirm: '本当に削除して良いですか？' } %><br>
      <% end %>
    <% end %>
</div>
